/* Our CSS file. */


.container{
    width: 100%;
    height: auto;
    border: 0.5px solid rgb(231, 218, 218);
    background-color: rgb(228, 213, 213);
}

.row{
    display: block;
    width: 100%;
    height: 347px;
    /* margin: 6px; */
}
.col{
    /* display: inline-block; */
    width: 48%;
    margin: 5px;
    border: 1px solid grey;
    height: 335px;
    float: left;
}

img{
    width: 100%;
    height: 335px;
}






