/* .container1{
    border: 3px solid 
} */
.first{
    float: left;
    width: 50%;

}
.first img{
    width: 100%;
}
.lst{
    float:right;
    width: 50%;
}
.clearfix{
    clear: both;
}
/* .container2{
    border: 3px solid red;
} */
.second{
    float: left;
    width: 50%;
}
.lstsec{
    float: right;
    width: 50%;

}
.lstsec img{
    width: 100%;
}